@import "react-toastify/dist/ReactToastify.css";

@import "react-perfect-scrollbar/dist/css/styles.css";

@import "swiper/css";
@import "swiper/css/grid";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css/thumbs";
@import "swiper/css/effect-fade";
@import "swiper/css/virtual";
@import "swiper/css/autoplay";
